<template>
  <a-config-provider :locale="zh_CN">
    <div id="app">
      <a-select
        allow-clear
        show-search
        placeholder="Select a person"
        style="width: 200px"
        @focus="handleFocus"
        @blur="handleBlur"
        @change="handleChange"
        v-model="sdfg"
      >
        <a-select-option v-for="it in list" :key="it.name">{{it.value}}</a-select-option>
      </a-select>
      <a-form-model
        ref="dynamicValidateForm"
        :model="setForm"
        :rules="rules"
      >
      <a-form-model-item prop="dynamicValidateForm.name" ref="name" :autoLink="false">
      <a-input v-model="other" />
      <span>hahha</span>
      <div>
        <a-input
          v-model="setForm.dynamicValidateForm.name"
        />
      </div>
    </a-form-model-item>
      <!-- <div 
      v-for="(domain, index) in setForm.dynamicValidateForm.domains"
      :key="domain.key">
            <a-form-model-item
      
              label="机械1"
              :prop="'dynamicValidateForm.domains.' + index + '.cityid1'"
              :rules="{
                required: true,
                message: 'domain can not be null',
                trigger: 'change',
              }"
            >
              <a-input
                v-model="domain.cityid1"
                placeholder="please input domain"
                style="width: 60%; margin-right: 8px"
              />
            </a-form-model-item>
            <a-form-model-item
      
              label="机械2"
              :prop="'dynamicValidateForm.domains.' + index + '.cityid2'"
              :rules="{
                required: true,
                message: 'domain can not be null',
                trigger: 'change',
              }"
            >
              <a-input
                v-model="domain.cityid2"
                placeholder="please input domain"
                style="width: 60%; margin-right: 8px"
              />
            </a-form-model-item>
      </div> -->

    <a-form-model-item >
      <a-button type="dashed" style="width: 60%" @click="addDomain">
        Add field
      </a-button>
    </a-form-model-item>
    <a-form-model-item >
      <a-button type="primary" html-type="submit" @click="submitForm('dynamicValidateForm')">
        Submit
      </a-button>
      <a-button style="margin-left: 10px" @click="resetForm('dynamicValidateForm')">
        Reset
      </a-button>
    </a-form-model-item>
  </a-form-model>
    </div>
  </a-config-provider>
</template>

<script>
import zh_CN from 'ant-design-vue/lib/locale-provider/zh_CN'
// import HelloWorld from './components/HelloWorld.vue'
import {setStates, eventTypes, frameFormats, isDataIds,dataIdLengths,dataIdBegins, pgnIds,
paramLengths,startStations,highBytes,beginCounts,scopes,values,distributes} from '@/constp.js';
export default {
  data() {
    return {
      zh_CN,
      other:'',
      sdfg:undefined,
      list:[
        {name:1,value:"测试1"},
        {name:2,value:"测试2"},
        {name:3,value:"测试3"},
        {name:4,value:"测试4"},
        {name:5,value:"测试5"},
      ],
      setForm:{
        dynamicValidateForm: {
          name:'',
            domains: [],
          },
      },
      rules:{
        "dynamicValidateForm.name":[{required:true}]
      }
      
    };
  },
  methods: {
    handleChange(v){console.log(v,this.sdfg,'handleChange')},
    handleFocus(v){console.log(v,'handleFocus')},
    handleBlur(v){console.log(v,'handleBlur')},
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          alert('submit!');
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
    removeDomain(item) {
      let index = this.setForm.dynamicValidateForm.domains.indexOf(item);
      if (index !== -1) {
        this.setForm.dynamicValidateForm.domains.splice(index, 1);
      }
    },
    addDomain() {
      this.setForm.dynamicValidateForm.domains.push({
        cityid1: '',
        cityid2: '',
        key: Date.now(),
      });
    },
  },
};
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  font-size: 14px;
}
.s1{
  width: 1000px;
  border: 1px solid #000;
  height: 700px;
  overflow: scroll;
}
.s2{
  width: 1000px;
  height: 50px;
  background: red;
  font-size: 16px;
}
.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all 0.3s;
}
.dynamic-delete-button:hover {
  color: #777;
}
.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
</style>
