<SOAP-ENV:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:clr="http://schemas.microsoft.com/soap/encoding/clr/1.0" SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/">
<SOAP-ENV:Body>
<a1:ConfigInfo id="ref-1" xmlns:a1="http://schemas.microsoft.com/clr/nsassem/二维码开门设备测试软件_Udp组播_.lib/二维码开门设备测试软件%2C%20Version%3D1.0.0.0%2C%20Culture%3Dneutral%2C%20PublicKeyToken%3Dnull">
<_x003C_MultiIpAddress_x003E_k__BackingField id="ref-3">224.0.5.169</_x003C_MultiIpAddress_x003E_k__BackingField>
<_x003C_Port_x003E_k__BackingField>999</_x003C_Port_x003E_k__BackingField>
<_x003C_RunType_x003E_k__BackingField>scene</_x003C_RunType_x003E_k__BackingField>
<_x003C_MacReadOnly_x003E_k__BackingField>false</_x003C_MacReadOnly_x003E_k__BackingField>
<_x003C_Ver_x003E_k__BackingField id="ref-4">TV1.13</_x003C_Ver_x003E_k__BackingField>
<_x003C_RegC_x003E_k__BackingField id="ref-5">2015-12-07 17:40:14</_x003C_RegC_x003E_k__BackingField>
</a1:ConfigInfo>
</SOAP-ENV:Body>
</SOAP-ENV:Envelope>
